.banner {
    opacity: 1;
    translate: 0 0;
}

.banner--hidden {
    opacity: 0;
    translate: 0 60px;
}

.banner--turn.banner--hidden {
    translate: 0 12px;
}

.banner--enter,
.banner--exit {
    transition-property: opacity, translate;
    transition-duration: var(--motion-duration-long-700ms);
    transition-timing-function: ease-out;
}

.banner--enter {
    opacity: 1;
    translate: 0 0;
}

.banner--exit {
    opacity: 0;
    translate: 0 -32px;
}
