.pouch {
    width: 120px;
    height: 148px;
    translate: 0 0;
}

.pouch__image {
    width: 120px;
    height: 148px;
    opacity: 1;
    scale: 1 1;
    background-image: url("project://database/Assets/@Resources/UI/Adventure/coin-pouch.png?fileID=2800000&guid=48c37def673c41f19ae366a2f144d5fc&type=3#coin-pouch");
    -unity-background-scale-mode: scale-to-fit;
}
